table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  text-align: left;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
th.mat-sort-header-sorted {
    color: black;
  }

.table-responsive {
color: brown;

}