.mat-card {
  align-items: center;
  position: center;
  content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
  align-content: center;
  height: 400px; 
  margin: auto;
  margin-top:2%;
  min-width: 280px;
  max-width: 350px;
  border-radius: 15px;
  
}
.mat-title {
  color: rgb(7, 22, 105);
  text-align: center;
  
  }

.submitbutton {
  display: block;
  width: 100%;
 
  
}

.submitbutton:hover {
  background-color: rgb(7, 11, 252);

}

.registration {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  color: brown;
  justify-content: center;
}
a:visited {
color: rgb(138, 129, 129);
align-items: center;
text-align: center;

}
.logo_main{
  font-size: 24px;
 
  animation-name: logoeffect;
  animation-duration: 5s;
  animation-iteration-count: infinite;
          
}

@keyframes logoeffect {
  0%{color: rgb(6, 10, 252) }
  25%{color: rgb(21, 255, 0)}
  50%{color: rgb(167, 168, 173)}
  75%{color: rgb(2, 202, 252)}
  100%{color: rgb(255, 5, 5)}
}


.inputtext {
  background: white;

}

