.mat-card {
  align-items: center;
  position: center;
  content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 8, 8);
  align-content: center;
  height: 400px; 
  margin: auto;
  margin-top:2%;
  min-width: 280px;
  max-width: 350px;
  
}
.mat-title {
  color: rgb(7, 22, 105);
  text-align: center;
  }

.button {
  display: flex;
  justify-content: center;

}

.button:hover {
  color: red;

}

.registration {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  color: brown;
}
a:visited {
color: rgb(138, 129, 129);
align-items: center;
text-align: center;

}
.logo_main{
  font-size: 48px;
        
}
.link{  
color:darkblue;
}
